
/*Estableciendo la propiedad box-sizing*/
* {

  box-sizing: border-box;


}


/*Estableciendo la propiedades del cuerpo del documento */
.cuerpo
{
     
  background-image: url(fondo_general.jpg);
  background-size: cover;
  font-family: 'Russo One', sans-serif;
  padding: 15px;
    

}

/*Estableciendo las propiedades para el contenedor total*/
.contenedora_total
{

   display: flex;
   padding: 15px;

}


/*Estableciendo las propiedades de la seccion que engloba el contenido a mostrar*/
.seccion_calculos
{
    background-color: rgb(47, 47, 47);
    border: 1px solid black;
    border-radius: 5px;
    height: 500px;
    margin: auto;


}
  

/*Estableciendo las propiedades de la seccion que engloba la conversion*/
.seccion_principal
{  

   display: flex;
   padding:25px; 

}

/*Estableciendo las propiedades para el container de la conversion*/
  .caja_conversion 
  {
    
    background-color: #535654;
    margin: auto;
    padding: 25px;
    width:  500px;

  }


/*Estableciendo las propiedades del titulo h1 en la caja de conversion*/
  .caja_conversion h1
{
   
   color: white;
   font-size: 25px;
   padding: 5px;
   text-align: center;

}


/*Estableciendo las propiedades de la entrada desde teclado para el usuario*/
 .caja_conversion input
 {
   
   background-color: #828282;
   border: 1px solid white;
   color: white;
   height: 30px;
   outline: none;
   width: 200px;



 }


/*Estableciendo la distancia para el contenido del input*/
.entrada
{
 padding: 5px;

}


/*Estableciendo el centrado del boton para el primer calculo de conversion*/
.centro_boton 
{
   
   padding: 5px;
   text-align: center;
  

}

/*Estableciendo las propiedades para el boton convertir */
.decord_boton
{
    
    background-color: #b5b8b1;
    border-radius: 15px;
    border: 1px solid black;
    font-family: 'Russo One', sans-serif;
    height: 25px;
    width: 150px;

}



/*Segundo ejercicio (ciclo de operaciones basicas)*/




/*Estableciendo las ´propiedades para la seccion de ciclo de operaciones basic*/
.seccion_secundaria
{
 
 display: flex;



}


/*Estableciendo las ´propiedades para la caja del ciclo de operaciones basic*/
.caja_operaciones
{
  
  background-color: #535654;
  margin: auto;
  padding: 25px;
  width: 500px; 
  

}


/*Estableciendo las ´propiedades pdel titulo h1 de la seccion de operaciones*/
.caja_operaciones h1
{
 
  color: white;
  font-size: 25px;
  padding: 5px;
  text-align: center;

}



/*Estableciendo las propiedades de distancia y centrado en el primer input*/
.entrada1
{
  padding: 5px;
  text-align: center;

}

/*Estableciendo las propiedades de distancia y centrado en el segundo input*/
.entrada2
{
   
   padding: 3px;
   text-align: center;

}


/*Estableciendo las propiedades para los input en general de esta seccion*/
.caja_operaciones input
{
   background-color: #828282;
   border: 1px solid white ;
   color: white;
   height: 30px;
   outline: none;
   width: 200px;
   

}




